 /*nav*/
 body{
    margin: 0;
 }
 nav{
    background-color: 	#101010;
    margin:0;
  
 }
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Logo{font-size: 25px;
text-decoration: none;
color: rgb(179, 179, 179);}

.Logo:hover{
    color:white;
}

.navLinks{list-style: none;
margin:0;
display: flex;
flex-direction: row;}


.navLinks li a{
    text-decoration: none;
    color: rgb(178, 180, 60);
    font-size: 16px;
}
.navLinks li a:hover{
    color: orange;
}

nav{height: auto;}

.navLinks{
    flex-direction: column;
    display: none;
}
.navLinks li{
   height: 25px;
}
.actnav{
    visibility: visible;
}
.nav{
    flex-direction: column;
    margin:0;
    align-items: center;
}

@media (min-width: 600px) {
    nav{
        height: 4rem;
        align-items: center;
        display: flex;
    }
    .navLinks li{
        margin-right: 15px;
    }
    .actnav{
        visibility: hidden;
    }
    .nav{
        margin: 0 25px;
    flex-direction: row;}
    .navLinks{display: flex;
    flex-direction: row;}

}


.mostrar{
    display: flex;
    
}


.success {background-color: white; border: 2px solid #04AA6D;
    border: none; 
    color: black; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px;} 
.success:hover {background-color: #46a049; color: white;}

.Portada{
    background-image: url('images\record-player-1851576_1280.jpg');
}