 /*nav*/
 html{
    height: 100%;
 }
 body {
     margin: 0;
     display: flex;
     flex-direction: column;
     min-height: 100%;
     background-color: rgb(27, 27, 26);
     color: white !important;
 }

 nav {
     background-color: #101010;
     margin: 0;

 }

 .nav {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .Logo {
     font-size: 25px;
     text-decoration: none;
     color: rgb(179, 179, 179);
 }

 .Logo:hover {
     color: white;
 }

 .navLinks {
     list-style: none;
     margin: 0;
     display: flex;
     flex-direction: row;
 }


 .navLinks li a {
     text-decoration: none;
     color: rgb(178, 180, 60);
     font-size: 16px;
 }

 .navLinks li a:hover {
     color: orange;
 }

 nav {
     height: auto;
 }

 .navLinks {
     flex-direction: column;
     display: none !important;
 }

 .navLinks li {
     height: 25px;
 }

 .actnav {
     visibility: visible;
 }

 .nav {
     flex-direction: column;
     margin: 0;
     align-items: center;
 }



 .mostrar {
     display: flex !important;

 }


 .success {
     background-color: rgb(196, 196, 196);
     border: 3px solid #04AA6D;
     border: none;
     color: black;
     padding: 14px 28px;
     cursor: pointer;
     border-radius: 5px;

 }

 .success:hover {
     background-color: #46a049;
     color: white;
 }

 .Portada h2 {
     margin: 0;
 }

 .sesions{
    list-style: none;
    display: flex;
    padding: 0;
justify-content: space-between;
 }

 .sesions li a{
    text-decoration: none;
 }
 .sesions li{
    padding: 6px;
 }

 

 .css-button-sharp--yellow {
    min-width: 10px;
    height: 26  px;
    color: #000000 !important;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #ffd819;
    background: #ffd819;
  }
  .css-button-sharp--yellow:hover {
    background: #fff;
    color: #ffd819
  }

 .Portada {
     background-image: url('images/pua.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position-y: 100%;
     background-position-x: 75%;
     height: 15rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 /*vinilos css*/
 .vinilos {
     display: flex;
     flex-direction: column;
     margin: 10px 2px;

 }

 .contenedor{
    max-width: 210px;
    padding: 30px;
    min-height: 250px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
 .contenedor:hover{
    background-color: #e6e6e6;
}
 .contenedor img{
    width: 100%;
    margin: 30px 0;
}
.contenedor .descripcion{
    color: #ffffff;
    font-weight: bold;
}

.contenedor .precio{
    color: #f85151;
    font-weight: bold;
    font-size: 20px;
}

 .caracteristicas {
     font-family: Arial, Helvetica, sans-serif;

 }

 .caracteristicas p{
    color:#b6b6b6;
 }

 /*footer*/
 footer {

     width: 100%;
     height: 3rem;
     background-color: #101010;
     font-size: large;
     text-align: center;
     margin-top: auto;
 }

 footer p {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
 }
.loginDiv{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(27, 27, 26);
    
}

.loginDiv form{
    margin-top: 15vh;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 8, 8);
}

.divImg{
    display:flex;
    justify-content: center;
    
}
 
 .vinImg{
    width: 200px;
 }

.loginDiv form h1{
    margin: 0 0 10px 0;
    color: white;
}
.loginDiv form label{
    color: white;
}
.loginDiv form input{
    border-radius: 5px;
    border-color: #1B3358;
}
.btnSub{
    width: 50%;
}

 /*Media Query para pc, ya que estamos desarrollando mobile first*/
 @media (min-width: 600px) {
     nav {
         height: 4rem;
         align-items: center;
         display: flex;
     }

     .navLinks li {
         margin-right: 15px;
     }

     .actnav {
         visibility: hidden;
     }

     .nav {
         margin: 0 25px;
         flex-direction: row;
     }

     .navLinks {
         display: flex !important;
         flex-direction: row;
     }

     .Portada {
         background-size: cover;
         background-blend-mode: multiply;
         height: 85vh;
         background-position: 0;
     }
     .vinFlex{
        display:flex;
     }
     /*vinilos css*/
     .vinilos {
        flex-wrap: wrap;
         flex-direction: row;
     }
    
     .caracteristicas{
        margin: 40px;
     }

     .vinImg{
        width: 450px;
     }
 }